apiVersion: v1
kind: Service
metadata:
  name: velocity-service
  namespace: minibit
  labels:
    app: velocity-proxy
spec:
  type: LoadBalancer
  ports:
  - port: 25565
    targetPort: 25565
    protocol: TCP
    name: minecraft
  selector:
    app: velocity-proxy
