name: Rust

on:
  push:
    branches: [ "setup-ci" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm, macos-15]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4
    - name: Pin Rust toolchain version
      run: rustup override set 1.92.0
    - name: Cache
      uses: actions/cache@v4
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
          target
        key: ${{ runner.os }}-${{ runner.arch }}-cargo-${{ hashFiles('**/Cargo.lock') }}
    - name: Install libpq with apt
      if: ${{ runner.os == 'Linux' }}
      run: |
        sudo apt-get update
        sudo apt-get install libpq-dev
    - name: Install libpq with homebrew
      if: ${{ runner.os == 'macOS' }}
      run: |
        brew install libpq
        echo "LDFLAGS=-L/opt/homebrew/opt/libpq/lib" >> "$GITHUB_ENV"
        echo "CPPFLAGS=-I/opt/homebrew/opt/libpq/include" >> "$GITHUB_ENV"
    - name: Build
      run: cargo build --verbose
